html,
body {
  height: 100%;
}

.animate-button {
  --color: #d61242;
  font-family: inherit;
  display: inline-block;
  width: 10em;
  height: 3em;
  line-height: 3em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 0.1rem solid #000;
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 1px;
  font-weight: 500;
  text-align: center;
  color: var(--color);
}

.animate-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.animate-button:hover {
  color: #fff;
}

.animate-button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}

.animate-button:hover:before {
  top: -30px;
  left: -30px;
}

.animate-button:active:before {
  background: #df5577;
  transition: background 0s;
}


